body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-container {
  background: #04122a;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 25px white;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-weight: normal;
  color: white;
}

.js-calculation {
  background: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  min-height: 40px;
  transition: all 0.3s ease-in-out;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

button {
  font-size: 1.2rem;
  padding: 15px;
  border: none;
  border-radius: 50%;
  background: #4e5d6c;
  color: white;
  cursor: pointer;
  transition: transform 0.15s ease;
  box-shadow: 0 4px 10px white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

button:hover {
  background: #5b8abc;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.op {
  background: #f39c12;
}

.op:hover {
  background: #e67e22;
}

.clear-btn {
  grid-column: span 4;
  border-radius: 10px;
  background: #d73a28;
}

.clear-btn:hover {
  background: #e74c3c;
}